@model deal.data.Models.User
@{
    ViewBag.Title = "Добавление пользователя";
}
<link rel="stylesheet" href="~/Content/StyleSheet.css" />
<form asp-action="Create" asp-controller="Home" class="folders-sign-in">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        </br>
        <input type="text" asp-for="Name" class="form-control" />
        </br>
        <label asp-for="phone" class="control-label">Телефон</label>
        </br>
        <input type="number" asp-for="phone" class="form-control" />
        </br>
        <label asp-for="password" class="control-label">Пароль</label>
        </br>
        <input type="password" asp-for="password" class="form-control" />
        </br>
    </div>
    <div>@ViewBag.Message</div>
    <div class="form-group">
        <button type="submit" value="Отправить" class="btn btn-default">Зарегистрироваться</button>
    </div>
</form>